@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Outgoing Transfer Requests";
    Layout = "_AuthenticatedLayout";
    ViewData["FocusBar"] = true;
}

<div class="text-center">
    <h1 class="display-4">Outgoing Transfer Requests</h1>
</div>
