@model OregonNexus.Broker.Web.Models.EducationOrganizationViewModel
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Edit Organization";
    Layout = "_AuthenticatedLayout";
}
<form id="user-form" method="post" asp-action="Update">
    <input type="hidden" name="_METHOD" value="PATCH" />
    <partial name="_form" for="@Model" />
</form>

<form method="post" asp-action="Delete" asp-route-id="@Model.EducationOrganizationId">
<div class="space-y-12 sm:space-y-16">
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <div class="mt-2 sm:col-start-2 sm:col-span-2 sm:mt-0">
        <input type="hidden" name="_METHOD" value="DELETE" />
        <button type="submit" class="inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Delete</button>
    </div>
</div>
</div>
</form>