@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Dashboard";
    Layout = "_AuthenticatedLayout";
    ViewData["FocusBar"] = true;
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
